# 数据库配置
DB_USER=dwc
DB_PASSWORD=dwc@123
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=devices_web_control

# 默认管理员账户
DEFAULT_ADMIN_USER=admin
DEFAULT_ADMIN_PASSWORD=admin123

# JWT 配置
JWT_SECRET_KEY=dwc-super-secret-key-for-jwt-2026
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080
AUTH_COOKIE_SECURE=false

# 高德地图 API 配置
AMAP_API_KEY=7af434f65f93730da7a3292a512b4e38
AMAP_API_SECURE_KEY=35d6875a6544204b52d54c015e59e10b

# 无人车最大线速度和角速度
ROBOT_CONTROL_MAX_LINEAR=3.0
ROBOT_CONTROL_MAX_ANGULAR=2.0
