[Unit]
Description=DevicesWebControl IoT Client
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pi/DevicesWebControl
ExecStart=/usr/bin/python3 /home/pi/DevicesWebControl/iot_client.py --config /home/pi/DevicesWebControl/iot_client.conf
Restart=always
RestartSec=5
User=pi

[Install]
WantedBy=multi-user.target
